.navContainer {
    background-color: var(--gray-800);
    max-width: 27rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.titleContainer {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.titleContainer h1 {
    font-size: 2.8rem;
}

.titleContainer h2 {
    font-size: 2rem;
    color: var(--secondary-text);
}

.titleContainer svg {
    color: var(--primary);
    width: 2.5rem;
    height: 2.5rem;
}
