.container-fluid {
    max-width: auto;
}

.container {
    margin: auto;
}

.content{
    margin: 3.2rem;
    margin-left: 0;
    color: white;
    position: relative;
}

@media (max-width:1050px) {
    .content{
        margin: 3rem 1.5rem;
        color: white;
        position: relative;
    }
}