/* Buscar cliente */
.searchCustomer{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.searchCustomer input {
    width: 100%;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 2rem;
    border-radius: 1rem;
    min-height: 5rem;
    font-size: 1.8rem;
    color: inherit;
    padding-left: 5rem;
    outline: none
}

.searchCustomer input::placeholder {
    color: var(--gray-300); 
}

.searchCustomer input:focus {
    border-color: var(--primary);
    outline: none;
}

.searchCustomer .searchIcon {
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

/* Tabela de Clientes */
.customersTable {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--gray-100);
    overflow: hidden;
    border-radius: 1rem; 
    border: none;
    background-color: var(--gray-800);
}

.customersTable table {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr; 
    border-collapse: collapse;
}

.customersTable thead, 
.customersTable tbody, 
.customersTable tr {
    display: contents; 
}

.customersTable th {
    padding: 3rem;
    background-color: var(--gray-400);
    font-weight: 400;
    color: var(--second-color);
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.customersTable th svg {
    transition: all 0.2s ease-in-out;
}

.customersTable th svg.isUp {
    transform: rotate(180deg);
}

.customersTable th svg:hover {
    cursor: pointer;
}

.customersTable td {
    padding: 3rem;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}

/* Zebrado na tabela */
.customersTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Destaque para linha selecionada */
.customersTable tbody tr:hover td{
    background-color: var(--gray-500);
    color: var(--gray-100);
}

/* Botão Adicionar  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 0.7rem;
    border: none;
    
    background-color: var(--gray-200);
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.header button:hover {
    transform: scale(1.08);
    color: inherit;
    background-color: var(--gray-800);
    cursor: pointer;
}

/* Ações */
.actions{
    display: flex;
    gap: 2rem;
}

.actions button{
    color: inherit;
    background-color: inherit;
    border: none;
}

.actions button svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

.pendingOrders {
    text-align: center;
    gap: 1rem;
}

.noPendingOrders {
    text-align: center;
    color: var(--gray-200);
    gap: 1rem;
}

.noPendingOrders svg {
    color: var(--primary);
}

.pendingOrders svg {
    color: var(--error);
}

.noPendingOrders svg,
.pendingOrders svg {
    transition: all 0.3s ease-in-out;
    width: 3rem;
    height: 3rem;
}

/* Sem Clientes */
.noCustomers{
    grid-column: 1 / -1;
    margin: auto;
}

.seeCustomer p{
    color: var(--primary-light);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.seeCustomer p:hover{
    color: var(--gray-100);
    cursor: pointer;
    transform: scale(1.05);
}

/* Pages Footer */
.activePage {
    color: var(--primary-light);
}

.pagesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.pagesContainer h3 {
    font-size: 2.3rem;
    color: var(--gray-300);
    font-weight: 500;
}

.pagesContainer button {
    border: none;
    color: var(--gray-200);
    background-color: inherit;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.pagesContainer button svg {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.pagesContainer button:hover svg {
    color: var(--primary);
    transform: scale(1.1);
}

.pagesHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pagesHeader label {
    background-color: var(--gray-300);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--gray-600);
    font-weight: 700;
}

.pagesList{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.pagesList p{
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.pagesList p:hover {
    cursor: pointer;
    color: var(--gray-300);
}


@media(max-width: 1600px) {
    .mobileAddButton{
        position: fixed;
        bottom: 8rem;    
        right: 2%;    
        z-index: 100;   
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    }

    /* Mobile Header */
    .filterButton{
        margin-left: 2rem;
        background-color: var(--gray-600);
        border: 2px solid transparent; 
        padding: 1.8rem 3rem;
        border-radius: 1rem;
        color: var(--gray-300);
        outline: none;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        gap: 1rem;
        transition: all 0.15s ease-in-out;
        border: 3px solid transparent;
        position: relative;
    }

    .filterButton:hover {
        color: var(--gray-100);
        border-color: var(--primary);
        outline: none;    
    }

    .mobileFilterBox:hover .dropDownFilter{
        display: flex;
    }

    .dropDownFilter {
        position: absolute;
        right: 0.5%;
        display: none;
        flex-direction: column;
        background-color: var(--gray-700);
        border-radius: 1rem;
        overflow: hidden;
        z-index: 10;
    }

    .dropDownFilter button {
        background-color: transparent;
        border: none;
        color: var(--gray-100);
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease;
        border-bottom: 1px solid var(--gray-600);
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .dropDownFilter button:hover {
        background-color: var(--primary);
        color: white;
    }

    .orderTable th svg, .dropDownFilter button svg {
        transition: all 0.2s ease-in-out;
    }

    .orderTable th svg.isUp, .dropDownFilter button svg.isUp{
        transform: rotate(180deg);
    }

    /* Customer Table */
    .MobileList {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 2rem;
    }

    .noOrdersMQ{
        background-color: var(--gray-600);
        padding: 2rem;
        border-radius: 1rem;
        font-size: 2rem;
        margin-top: 2rem;
        text-align: center;
        font-style: italic;
        color: var(--gray-300);
    }

    .mobileCustomerBox {
        background: linear-gradient(145deg, var(--gray-800), var(--gray-400));
        padding: 2rem;
        border-radius: 1rem;
    }

    .mobileCustomerBox hr {
        border: 0.1rem solid var(--gray-400);
        margin: 2rem 0;
    }

    .mobileCustomerHeader {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .mobileCustomerInfo {
        display: flex;
        flex-direction: column;
    }
    
    .mobileCustomerInfo p {
        font-size: clamp(1.7rem, 2.1vw, 2.5rem);
    }

    .mobileCustomerInfo label {
        color: var(--gray-300);
        font-style: italic;
    }

    .pendingOrders,
    .noPendingOrders {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .pendingOrders p {
        color: var(--error);
    }

    .noPendingOrders p { 
        color: var(--primary);
    }

    .noPendingOrders svg,
    .pendingOrders svg {
        transition: all 0.3s ease-in-out;
        width: 3rem;
        height: 3rem;
        margin: 0;
    }

    .seeCustomer p{
        font-size: clamp(1.8rem, 2vw, 2.3rem);
    }

    .pagesHeader{
        flex-direction: column;
        align-items: start;
    }
}

@media(max-width: 650px) {
    .pagesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .pagesHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
