.customersTable {
    font-size: 2rem;
    margin-top: 6rem;
    color: var(--gray-100);
    overflow: hidden;
    border-radius: 0.5rem; 
}

.customersTable table {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    border-collapse: collapse;
    width: 100%;
}

.customersTable thead, 
.customersTable tbody, 
.customersTable tr {
    display: contents; 
}

.customersTable th {
    padding: 1rem;
    background-color: var(--gray-400);
    font-weight: bold;
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
}

.customersTable td {
    padding: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid var(--gray-500); 
    transition: background-color 0.3s ease; 
}

/* Zebrado na tabela */
.customersTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Destaque para linha selecionada */
.customersTable tbody tr:hover td{
    background-color: var(--gray-200);
    color: var(--gray-800);
    font-weight: bold;
}

.actions{
    display: flex;
    gap: 2rem;
}

.actions a{
    color: inherit;
}

.actions a svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

.editIcon:hover svg{
    color: var(--primary);
    font-weight: bold;
    transform: scale(1.2);
}

.deleteIcon:hover svg {
    color: var(--error);
    font-weight: bold;
    transform: scale(1.2);
}

.pendingOrders {
    text-align: center;
    color: var(--primary);
}

.noPendingOrders {
    text-align: center;
    color: var(--error);
}

.noPendingOrders svg,
.pendingOrders svg {
    width: 3rem;
    height: 3rem;
}





