.customersTable {
    font-size: 2rem;
    margin-top: 6rem;
    color: var(--gray-100);
    overflow: hidden;
    border-radius: 2rem; 
    border: none;
    background-color: var(--gray-800);
}

.customersTable table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
    border-collapse: collapse;
}

.customersTable thead, 
.customersTable tbody, 
.customersTable tr {
    display: contents; 
}

.customersTable th {
    padding: 3rem;
    background-color: var(--gray-400);
    font-weight: 400;
    color: var(--second-color);
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
}

.customersTable td {
    padding: 3rem;
    border-top: 2px solid var(--gray-500); 
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}

/* Zebrado na tabela */
.customersTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Destaque para linha selecionada */
.customersTable tbody tr:hover td{
    background-color: var(--gray-500);
    color: var(--gray-100);
}

/* Botão Adicionar  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 0.7rem;
    border: none;
    
    background-color: var(--gray-200);
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.header button:hover {
    transform: scale(1.08);
    color: inherit;
    background-color: var(--gray-800);
    cursor: pointer;
}

/* Ações */
.actions{
    display: flex;
    gap: 2rem;
}

.actions a{
    color: inherit;
}

.actions a svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

.editIcon:hover svg{
    color: var(--primary);
    font-weight: bold;
    transform: scale(1.2);
}

.deleteIcon:hover svg {
    color: var(--error);
    font-weight: bold;
    transform: scale(1.2);
}

.pendingOrders {
    text-align: center;
    color: var(--primary);
}

.noPendingOrders {
    text-align: center;
    color: var(--error);
}

.noPendingOrders svg,
.pendingOrders svg {
    transition: all 0.3s ease-in-out;
    margin: auto;
    width: 3rem;
    height: 3rem;
}





