.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(3px);     
    z-index: 9998; 
}

.exportDiv {
    position: fixed; /* Mude para fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza */
    width: 50%;
    overflow-y: auto;
    max-height: 90vh;
    z-index: 9999;
    border-radius: 2rem;
    padding: 5rem;
    background-color: var(--gray-900);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

/* Div Header */
.headerExportDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerExportDiv button {
    width: auto;
    padding: 1rem 3rem;
    min-height: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    gap: 1rem;
    border: none;
    transition: all 0.2s ease-in-out;
    background-color: var(--gray-400);
    color: var(--gray-100); 
    cursor: pointer;
}

.headerExportDiv button:hover, .exportButton:hover{
    background-color: var(--gray-300);
    color: var(--gray-800);
    transform: scale(1.02);
}

.exportButton {
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-dark);
    border: none;
    color: inherit;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}


.exportDiv h3 {
    margin-top: 4rem;
}

.orderInfoContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.orderInfoBox {
    background: var(--gray-400);
    padding: 2rem;
    border-radius: 1rem;
}

.orderInfoBox label {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.orderInfoBox label svg{
    color: var(--primary);
}

.orderInfoBox p {
    color: var(--primary-light);
    font-size: 2rem;
}

/* Export Options */
.exportOptionsDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(1px);     
    z-index: 10000; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.exportOptionsDivContent {
    background-color: var(--gray-700);
    border-radius: 1rem;
}

.exportOptionsDivHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    border-bottom: 0.2rem solid var(--gray-400);
}

.exportOptionsDivHeader h3{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.exportOptionsDivHeader p{ 
    color: var(--gray-300);
    font-size: 3rem;
    cursor: pointer;
}

.exportOptionsDivBody {
    padding: 3rem;
}

.exportOptionsDivBody h4 {
    margin-bottom: 2rem;
    color: var(--gray-200);
}

.exportOptionsChoiceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
} 

.exportOptionsChoice {
    border: 0.2rem solid var(--gray-400);
    border-radius: 1rem;
    padding: 3rem 8rem;
    background-color: var(--gray-800);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.exportOptionsChoice p { 
    font-size: 2rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.exportOptionsChoice label {
    display: block;
    text-align: center;
    color: var(--gray-300);
    cursor: pointer;
}

.isActive {
    background: color-mix(in srgb, var(--primary) 20%, transparent);
    border: 0.2rem solid var(--primary);
}

.isActive p{
    color: var(--primary-light);
}

.isActive label {
    color: var(--gray-200);
}


/* Value Catory Choice  */
.categoryValueChoice {
    background-color: var(--gray-500);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.dropbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-600);
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.dropbtn svg {
    transition: transform 0.3s ease;
    margin-left: 8px;
}

.dropbtn.open svg {
    transform: rotate(180deg);
}

.dropdownContent {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    position: absolute;
    overflow: hidden; 
    pointer-events: none; 
    top: 76%;
    left: 3%;
    width: 95%;
    margin: auto;
}

.dropdownContent.open {
    max-height: 16rem; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 999;
    overflow-y: auto;
}

.dropdownContent a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--gray-800);
    transition: all 0.3s ease;
}

.dropdownContent a:hover {
  background-color: var(--gray-600);
}

.dropdownContent::-webkit-scrollbar {
    width: 0.8rem;
}
.dropdownContent::-webkit-scrollbar-thumb {
  background: var(--gray-200);
  border-radius: 0.8rem;
}

.exportInfo {
    background: color-mix(in srgb, var(--info) 20%, transparent);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exportButtons {
    background-color: var(--gray-800);
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.sendButton, .cancelButton{
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-dark);
    border: none;
    color: inherit;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}

.cancelButton { 
    background-color: var(--gray-400);
}

.cancelButton:hover, .sendButton:hover{
    background-color: var(--gray-300);
    color: var(--gray-800);
}

@media(max-width: 1050px) {
    .exportDiv {
        width: 95%;
        max-height: 90vh;
        padding: 3rem 1.5rem;
    }

    .orderInfoContainer {
        display: flex;
        flex-direction: column;
    }

    .headerExportDiv button{
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
    }

    .headerExportDiv {
        text-align: center;
        font-size: 1.4rem;
    }

    .headerExportDiv h2{
        margin: auto;
    }

    .exportButton {
        margin: auto;
        margin-top: 2rem;
    }

    /* Tipo de Exportação */
    .exportOptionsDivContent {
        width: 90%;
    }

    .exportOptionsDivHeader {
        padding: 1.5rem;
    }

    .exportOptionsDivBody {
        padding: 1.5rem;
    }

    .exportOptionsChoiceContainer{
        display: flex;
        flex-direction: column;
    }

    .cancelButton {
        align-items: center;
        font-size: 1.6rem;
    }

    .sendButton {
        align-items: center;
        font-size: 1.6rem;
    }
}
