.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px) brightness(0.8);
    z-index: 9999;
    animation: fadeIn 0.3s ease;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.dateFilter {
    z-index: 10000;
    padding: 5rem;
    background-color: var(--gray-900);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 0.2rem solid var(--gray-400);
    border-radius: 1rem;
}

.calendarBox {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.calendarButton {
    margin-top: 4rem;
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
    background-color: var(--primary-dark);
    border: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
}

.calendarButton:hover {
    background-color: var(--gray-700);
    transform: scale(1.02);
}

/* Cabecalho */
.header {
    display: flex;
    justify-content: space-between;
}

.addButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton button{
    background-color: var(--primary);
    color: inherit;
    padding: 0rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.addButton button:hover{
    color: var(----gray-100);
    background-color: var(--gray-500);
    transform: scale(1.03);
}

.analysisDate {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}

.analysisDate h2{
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.period{
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Card Saldo */
.totalExtraInfo {
    display: flex;
    margin-top: 0;
}

.badExtraInfo{
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(247, 127, 127);
}

.badExtraInfo label{
    color: var(--gray-300);
    font-style: italic;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.badExtraInfo label svg{
    color: var(--error);
}

.goodExtraInfo {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(103, 247, 8);
}

.goodExtraInfo label{
    color: var(--gray-300);
    font-style: italic;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.goodExtraInfo label svg{
    color: var(--primary);
}

/* Card Receita */
.revenueExtraInfo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.revenueExtraText{
    font-size: 2rem;
    color: var(--primary);
    font-style: italic;
}

.summaryContainer .revenueExtraInfo p {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.summaryContainer .revenueExtraInfo p label {
    color: var(--gray-200);
    font-style: italic;
    font-weight: 400;
}

/* Card Despesa */
.expenseExtraInfo p{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: yellow;
}

.expenseExtraInfo p label{ 
    font-size: 1.8rem;
    color: var(--gray-100);
}

.expenseExtraInfo p label.expenseInfoValue {
    font-style: italic;
    color: var(--gray-300);
    font-weight: 400;
    font-size: 2rem;
}

/* Cards de resumo */
.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.summaryContainer p.badExtraInfo,
.summaryContainer p.goodExtraInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

.summaryContainer .revenueExtraInfo label {
    margin: 0;
}

.summaryContainer{
    display: flex;
    background: linear-gradient(
        135deg,
        #103839 0%,
        var(--gray-800) 50%,
        #0f1f1a 100%
    );
    padding: 3rem;
    border-radius: 1rem;
    justify-content: space-between;
    border: 0.1rem solid var(--gray-500);
}

.summaryContainer > div:first-child {
    width: 100%;
}

.summaryContainer h3 {
    font-size: 1.9rem;
    color: var(--gray-300);
}

.summaryContainer p {
    margin: 1.5rem 0 0 0;
    font-size: 2.2rem;
    font-weight: bold;
}

.summaryContainer hr {
    width: 100%;
    margin: 2rem 0;
    border: solid 0.1rem var(--gray-400);
}

.summaryContainer .iconWrapper {
    display: flex;
    align-content: center;
    border-radius: 1rem;
    padding: 1rem;
}

.resultText{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.resultText svg {
    width: 3rem;
    height: 3rem;
}

/* Lista de contas */
.incomesExpensesContainer {
    background-color: var(--gray-800);
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--gray-500);
}

.incomesExpensesHeader{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.incomesExpensesHeader input {
    flex: 1;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-500);
    background-color: var(--gray-800);
    color: white;
    padding-left: 5rem;
}

.incomesExpensesHeader input::placeholder {
    color: var(--gray-300); 
}

.incomesExpensesHeader input:focus {
    border-color: var(--primary);
    outline: none;
}

.incomesExpensesHeader button {
    border: none;
    padding: 1.8rem;
    border-radius: 0.5rem;
    color: var(--gray-100);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--gray-600);
    font-weight: bold;
}

.incomesExpensesHeader button.revenueButton {
    background-color: var(--primary);
    transform: scale(1.02);
}

.incomesExpensesHeader button.expenseButton {
    background-color: var(--error);
    margin-right: 2rem;
    transform: scale(1.02);
}

.incomesExpensesHeader button:disabled {
    background-color: var(--gray-700);
    cursor: auto;
    color: var(--gray-100);
}

.searchInput {
    position: relative;
}

.incomesExpensesHeader .searchIcon{
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

.incomesExpensesMain{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.incomesExpensesMain table{ 
    border-collapse: collapse;
    width: 100%;
}

.incomesExpensesMain table thead{
    background-color: var(--gray-700);
} 

.incomesExpensesMain table th{
    text-align: start;
    padding: 2rem;
} 

.incomesExpensesMain table td{
    border-bottom: 0.1rem solid var(--gray-400);
    padding: 2rem;
}

.noRegister {
    text-align: center;
    font-size: 2rem;
    color: var(--gray-300);
    font-style: italic;
} 

.revenueCategory p{
    color: #2CB183;
    background-color: #11353b;
    display: inline;
    padding: 1rem;
    border-radius: 1.5rem;
}

.expenseCategory p{
    color: var(--error);
    background-color: #5c1b1b7c;
    display: inline;
    padding: 1rem;
    border-radius: 1.5rem;
}

.revenueValue {
    color: var(--primary);
    font-size: 1.8rem;
}

.expenseValue {
    color: var(--gray-200);
    font-size: 1.8rem;
}

.optionsContainer {
    position: relative;
}

.options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    right: -100%;
    gap: 0.5rem;
}

.options button {
    border: none;
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.options button:hover {
    color: var(--gray-400);
    background-color: var(--gray-200);
}

/* Rodapé das páginas */
.activePage {
    color: var(--primary-light);
}

.pagesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.pagesContainer h3 {
    font-size: 2.3rem;
    color: var(--gray-300);
    font-weight: 500;
}

.pagesContainer button {
    border: none;
    color: var(--gray-200);
    background-color: inherit;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.pagesContainer button svg {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.pagesContainer button:hover svg {
    color: var(--primary);
    transform: scale(1.1);
}

.pagesHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pagesHeader label {
    background-color: var(--gray-300);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--gray-600);
    font-weight: 700;
}

.pagesList{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.pagesList p{
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.pagesList p:hover {
    cursor: pointer;
    color: var(--gray-300);
}

/* Componentes de filtro de data */
button.filterDateButton {
    background-color: var(--primary-dark);
    color: inherit;
}

.filteredDate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filterAndDate {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cleanFilter {
    color: var(--primary-light);
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin-top: 2rem;
}

.cleanFilter:hover {
    color: var(--gray-400);
    cursor: pointer;
}

label.filteredDateValue {
    background-color: #103839;
    color: #12c58d;
    padding: 0.5rem;
    border-radius: 2rem;
}

@media(max-width: 1650px) {
    /* Cards MediaQuery */
    .summary {
        grid-template-columns: 1fr;
    }

    /* Container do card MQ */
    .summaryContainerMQ {
        background:
        radial-gradient(
            circle at top left,
            rgba(18, 197, 141, 0.15),
            transparent 40%
        ),
        linear-gradient(
            135deg,
            var(--gray-800),
            #1f242b
        );
        padding: 3rem;
        border-radius: 1rem;
        justify-content: space-between;
        border: 0.1rem solid var(--gray-500);
    }

    .summaryContainerMQ h3{ 
        font-size: 2rem;
        color: var(--primary);
    }

    .summaryContainerMQ .resultText{ 
        font-size: 3rem;
        font-weight: bold;
    }

    .summaryContainerMQ hr {
        border: 1px solid var(--gray-400);
        margin: 2rem 0;
    }

    /* Card Total */
    .totalheaderCardMQ {
        display: flex;
        flex-direction: column;
        align-items: center;   /* centraliza horizontal */
        justify-content: center; /* centraliza vertical */
        text-align: center;
    }

    .totalExtraInfoMQ {
        display: inline-flex;
        gap: 1rem;
        font-size: 1.6rem;
        color: #12c58d;
        background-color: #103839;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        margin-top: 2rem;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    .badExtraInfoMQ {
        color: var(--gray-100);
        background-color: rgba(126, 41, 41, 0.904);
    }

    .goodExtraInfoMQ {
        color: #12c58d;
        background-color: #103839;
    }

    /* Cards Receita e despesa */
    .headerCardContainerMQ {
        display: flex;
        gap: 2rem;
    }

    /* Icone */
    .headerCardContainerMQ svg{ 
        width: 3rem;
        height: 3rem;
    }

    .iconBox {
        padding: 1.2rem;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iconBox svg {
        width: 3rem;
        height: 3rem;
    }

    .iconBox.iconBoxRevenue {
        background-color: #103839;
    }
    .iconBox.iconBoxIncome {
        background-color: rgb(88, 2, 2);
    }

    .iconBox.iconBoxRevenue svg{
        color: #12c58d;
    }
    .iconBox.iconBoxIncome svg{
        color: red;
    }

    /* Valores e titulos */
    .headerCardMQ label{
        color: var(--gray-300);
        font-size: 1.8rem;
    }

    .headerCardMQ p{ 
        font-size: 2.3rem;
        font-weight: bold;
    } 

    /* ExtraInfo Receita */
    .revenueExtraInfo {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        margin-top: 2rem;
    }

    .revenueExtraInfo p{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        color: var(--gray-300);
    }

    .revenueExtraInfo label{
        color: var(--gray-100);
        font-size: 2.2rem;
    }

    /* ExtraInfo Despesa */
    .expenseExtraInfo {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        margin-top: 2rem;
    }

    .expenseExtraInfo div{
        display: flex;
        flex-direction: column;
    }

    .expenseExtraInfo p{
        font-size: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .expenseExtraInfo p label.expenseInfoValue { 
        color: var(--gray-100);
        font-size: clamp(1.5rem, 2.2rem, 2.3rem);
    }
}

@media(max-width: 1050px) {
    .mobileButtons{
        position: fixed;
        bottom: 8rem;   
        right: 2%;    
        z-index: 100;   
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .header button {
        padding: 1rem;
        font-size: 1.8rem;
        font-family: inherit;
        border-radius: 0.7rem;
        border: none;
        
        background-color: var(--gray-200);
        transition: all 0.2s ease;
        font-weight: 500;
        display: flex;
        gap: 1rem;
        align-items: center;

        width: 5rem;
        height: 5rem;
        justify-content: center;
    }

    .header button:hover {
        transform: scale(1.08);
        color: inherit;
        background-color: var(--gray-700);
        cursor: pointer;
    }

    /* Filtro de pesquisa */
    .periodFilter {
        flex-direction: column;
        gap: 2rem;
        background-color: var(--gray-600);
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
    }

    label.filteredDateValue {
        background-color: #103839;
        color: #12c58d;
        padding: 0.5rem;
        border-radius: 2rem;
    }

    .filterAndDate {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        display: flex;
    }

    .filterAndDate label{ 
        padding: 1rem;
        transition: all 0.2s ease-in-out;
    }

    .filterAndDate label:hover{
        background-color: var(--gray-400);
        color: var(--gray-100);
    }

    .filteredDate {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .filteredDate p{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}

@media(max-width: 600px) {
    .revenueExtraInfo p{
        flex-direction: column;
        text-align: center;
    }

    .expenseExtraInfo p {
        flex-direction: column;
        text-align: center;
    }
    .expenseExtraInfo p label.expenseInfoValue {
        color: var(--gray-300);
        font-style: italic;
        font-size: 2.5rem;
    }
}