.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.inputWithIcon input {
    padding-left: 5rem; 
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    pointer-events: none; 
    top: 32%;
}

.customerSearch {
  position: relative;
}

.suggestions{
    position: absolute;
    top: 100%; 
    width: 100%; 
    border: 1px solid var(--gray-200);
    z-index: 10; 
    max-height: 20rem;
    background-color: var(--gray-800);
    overflow-y: auto;
}

.suggestions::-webkit-scrollbar {
    width: 0.5rem;
}
.suggestions::-webkit-scrollbar-thumb {
  background: var(--gray-100);
  border-radius: 0.8rem;
}

.choseItem{
    width: 100%;
    background-color: var(--gray-800);
    padding: 1rem;
    transition: all 0.15s ease-in-out;
}

.choseItem:hover{
    background-color: var(--gray-200);
    color: var(--gray-700);
    font-weight: bold;
    cursor: pointer;
}

.selected {
    color: var(--gray-800);
    font-weight: bold;
    background-color: #e3f2fd;
    border-left: 0.5rem solid var(--primary);
}