/* Buscar Produtos */
.searchProduct {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.searchProduct input {
    width: 100%;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 2rem;
    border-radius: 1rem;
    min-height: 5rem;
    font-size: 1.8rem;
    color: inherit;
    padding-left: 5rem;
    outline: none
}

.searchProduct input::placeholder {
    color: var(--gray-300); 
}

.searchProduct input:focus {
    border-color: var(--primary);
    outline: none;
}

.searchProduct .searchIcon{
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

/* Tabela de produtos */
.productTable {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--gray-100);
    overflow: hidden;
    border-radius: 1rem; 
    border: none;
    background-color: var(--gray-800);
}

.productTable table {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr; 
    border-collapse: collapse;
}

.productTable thead, 
.productTable tbody, 
.productTable tr {
    display: contents; 
}

.productTable th {
    padding: 3rem;
    background-color: var(--gray-400);
    font-weight: 400;
    color: var(--second-color);
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.productTable th svg {
    transition: all 0.2s ease-in-out;
}

.productTable th svg.isUp {
    transform: rotate(180deg);
}

.productTable th svg:hover {
    cursor: pointer;
}

.productTable td {
    padding: 3rem;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}

/* Zebrado na tabela */
.productTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Destaque para linha selecionada */
.productTable tbody tr:hover td{
    background-color: var(--gray-500);
    color: var(--gray-100);
}

/* Botão Adicionar  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 0.7rem;
    border: none;
    
    background-color: var(--gray-200);
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.header button:hover {
    transform: scale(1.08);
    color: inherit;
    background-color: var(--gray-800);
    cursor: pointer;
}

.actions{
    display: flex;
    gap: 2rem;
}

.actions button{
    background-color: inherit;
    border: none;
    color: inherit;
}

.actions button svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

.editIcon:hover svg{
    color: var(--primary);
    font-weight: bold;
    transform: scale(1.2);
}

.deleteIcon:hover svg {
    color: var(--error);
    font-weight: bold;
    transform: scale(1.2);
}

.category {
    background-color: var(--gray-700);
    color: inherit;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.productTable tbody tr:hover td .category{
    background-color: var(--gray-500);
}

td.categoryColumn {
    padding-top: 3rem;
}

/* Sem Produtos */
.noProducts{
    grid-column: 1 / -1;
    margin: auto;
}

.seeProduct p{
    color: var(--primary-light);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 2rem;
}

.seeProduct p:hover{
    color: var(--gray-100);
    cursor: pointer;
    transform: scale(1.05);
}

/* Páginas */
.activePage {
    color: var(--primary-light);
}

.pagesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.pagesContainer h3 {
    font-size: 2.3rem;
    color: var(--gray-300);
    font-weight: 500;
}

.pagesContainer button {
    border: none;
    color: var(--gray-200);
    background-color: inherit;
    transition: all 0.2s ease-in-out;
}

.pagesContainer button svg {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.pagesContainer button:hover svg {
    color: var(--primary);
    transform: scale(1.1);
    cursor: pointer;
}

.pagesHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pagesHeader label {
    background-color: var(--gray-300);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--gray-600);
    font-weight: 700;
}

.pagesList{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.pagesList p{
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.pagesList p:hover {
    cursor: pointer;
    color: var(--gray-300);
}

@media (max-width: 1350px) {
    .mobileAddButton{
        position: fixed;
        bottom: 20px;   
        right: 2%;    
        z-index: 100;   
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    }

    /* Mobile Header */
    .filterButton{
        margin-left: 2rem;
        background-color: var(--gray-600);
        border: 2px solid transparent; 
        padding: 1.8rem 3rem;
        border-radius: 1rem;
        color: var(--gray-300);
        outline: none;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        gap: 1rem;
        transition: all 0.15s ease-in-out;
        border: 3px solid transparent;
        position: relative;
    }

    .filterButton:hover {
        color: var(--gray-100);
        border-color: var(--primary);
        outline: none;    
    }

    .mobileFilterBox:hover .dropDownFilter{
        display: flex;
    }

    .dropDownFilter {
        position: absolute;
        right: 0.5%;
        display: none;
        flex-direction: column;
        background-color: var(--gray-700);
        border-radius: 1rem;
        overflow: hidden;
        z-index: 10;
    }

    .dropDownFilter button {
        background-color: transparent;
        border: none;
        color: var(--gray-100);
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease;
        border-bottom: 1px solid var(--gray-600);
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .dropDownFilter button:hover {
        background-color: var(--primary);
        color: white;
    }

    .orderTable th svg, .dropDownFilter button svg {
        transition: all 0.2s ease-in-out;
    }

    .orderTable th svg.isUp, .dropDownFilter button svg.isUp{
        transform: rotate(180deg);
    }

    /* Product Table */
    .MobileList {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 2rem;
    }

    .mobileOrderBox {
        background: linear-gradient(145deg, var(--gray-800), var(--gray-400));
        padding: 2rem;
        border-radius: 1rem;
    }

    .mobileProductHeader {
        display: flex;
        justify-content: space-between;
    }

    .mobileNameProduct {
        display: flex;
        flex-direction: column;
    }
    
    .mobileNameProduct p {
        font-size: clamp(2rem, 2.1vw, 2.5rem);
    }

    .mobileNameProduct label {
        color: var(--gray-300);
        font-style: italic;
    }

    .seeProduct {
        display: flex;
        justify-content: end;
        font-size: clamp(1.8rem, 2vw, 2.3rem);
    }
}