.mainTemplate {
    display: grid;
    grid-template-columns: clamp(20rem, 30vw, 32rem) 1fr;
    overflow-y: hidden; 
    height: 100vh;
}

.mainTemplate main{
    overflow-y: scroll;
}

@media(max-width:1050px) {
    .mainTemplate {
        grid-template-columns: 1fr;
    }
}