/* Buscar Pedidos */
.searchOrder {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.searchOrder input {
    width: 100%;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 2rem;
    border-radius: 1rem;
    min-height: 5rem;
    font-size: 1.8rem;
    color: inherit;
    padding-left: 5rem;
    outline: none
}

.searchOrder input::placeholder {
    color: var(--gray-300); 
}

.searchOrder input:focus {
    border-color: var(--primary);
    outline: none;
}

.searchOrder .searchIcon{
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

/* Tabela de pedidos */
.orderTable {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--gray-100);
    overflow: visible;
    border-radius: 1rem; 
    border: none;
    background-color: var(--gray-800);
    max-width: 100vw;
    isolation: isolate;
}

.orderTable table {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.4fr 0.7fr 0.7fr 1fr 0.8fr; 
    border-collapse: collapse;
}

.orderTable thead, 
.orderTable tbody, 
.orderTable tr {
    display: contents; 
}

.orderTable th {
    padding: 3rem 2rem;
    background-color: var(--gray-400);
    font-weight: 400;
    color: var(--second-color);
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.orderTable th svg, .dropDownFilter button svg {
    transition: all 0.2s ease-in-out;
}

.orderTable th svg.isUp, .dropDownFilter button svg.isUp{
    transform: rotate(180deg);
}

.orderTable th svg:hover, .dropDownFilter button svg:hover {
    cursor: pointer;
}

/* Cantos arredondados no header */
.orderTable th:first-child {
    border-top-left-radius: 1rem;
}

.orderTable th:last-child {
    border-top-right-radius: 1rem;
}

/* Cantos arredondados na última linha */
.orderTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

.orderTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

.orderTable td {
    padding: 3rem 2rem;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}

/* Zebrado na tabela */
.orderTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Botão Adicionar  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 0.7rem;
    border: none;
    
    background-color: var(--gray-200);
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.header button:hover {
    transform: scale(1.08);
    color: inherit;
    background-color: var(--gray-800);
    cursor: pointer;
}


/* Ver o status detalhado do pedido */
.statusOptions {
    opacity: 0;
}

.statusOptions.isOpen{
    opacity: 1;
}

.status button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: inherit;
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


tr:hover .status button {
    background-color: var(--gray-600);
    color: var(--gray-100);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

tr:hover .status button:hover{
    color: white;
    background-color: var(--primary-dark);
}

.status.pending svg{
    color: var(--warning);
}

.status.completed svg{
    color: var(--primary);
}

.status.canceled svg{
    color: var(--error);
}

/* Destaque para linha selecionada */
.orderTable tbody tr:hover td{
    background-color: var(--gray-500);
    /* color: var(--gray-100); */
}

/* Botao Ver mais ... */
.seeMore{
    margin-top: 0.5rem;
    list-style: none;
    cursor: pointer;
    display: inline-block;
}

.seeMore button{ 
    background-color: inherit; 
    color: var(--primary);
    border: none;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s ease-in-out;
}

.seeMore button:hover, 
.pending svg:hover, 
.completed svg:hover{
    color: var(--text-disabled); 
    transform: scale(1.1);
    cursor: pointer;
}

.liList {
    margin-left: 2rem;
}

/* Actions */
.actions{
    display: flex;
    gap: 2rem;
}

.actions button{
    background-color: inherit;
    border: none;
    color: inherit;
}

.actions button svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

/* No Orders */
.noOrders {
    grid-column: 1 / -1;
    margin: auto;
}

.seeOrder p{
    color: var(--primary-light);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.seeOrder p:hover{
    color: var(--gray-100);
    cursor: pointer;
    transform: scale(1.05);
}

/* -------------------- Mobile Version  -------------------- */
.mobileFilterBox:hover .dropDownFilter{
    display: flex;
}

.mobileAddButton{
    position: fixed;
    bottom: 20px;   
    right: 2%;    
    z-index: 100;   
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.filterButton{
    margin-left: 2rem;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 1.8rem 3rem;
    border-radius: 1rem;
    color: var(--gray-300);
    outline: none;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    transition: all 0.15s ease-in-out;
    border: 3px solid transparent;
    position: relative;
}

.filterButton:hover {
    color: var(--gray-100);
    border-color: var(--primary);
    outline: none;    
}

.dropDownFilter {
    position: absolute;
    right: 0.5%;
    display: none;
    flex-direction: column;
    background-color: var(--gray-700);
    border-radius: 1rem;
    overflow: hidden;
    z-index: 10;
}


/* Botões dentro do dropdown */
.dropDownFilter button {
    background-color: transparent;
    border: none;
    color: var(--gray-100);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid var(--gray-600);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropDownFilter button:hover {
    background-color: var(--primary);
    color: white;
}


/* -------------------- Tablet/Mobile Version Content -------------------- */
.mobileOrderContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.mobileOrderBox {
    background: linear-gradient(145deg, var(--gray-800), var(--gray-400));
    padding: 2rem;
    border-radius: 1rem;
}

.mobileBoxHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.mobileBoxHeader h3 {
    font-size: 3rem;
}

.mobileBoxHeader p {
    font-size: 2rem;
}

.mobileBoxTime {
    color: var(--gray-300);
}

.mobileBoxProducts {
    margin-bottom: 2rem;
}

.liList {
    font-size: 2rem;
}

.mobileBoxInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

div:hover .status button {
    color: var(--gray-100);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

div:hover .status button:hover{
    color: white;
    background-color: var(--primary-dark);
}

.mobileDeliveryNa {
    display: flex;
    gap: 1rem;
    color: var(--gray-300);
    background-color: var(--gray-800);
    padding: 1rem 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}

.mobileDelivery {
    display: flex;
    gap: 1rem;
    color: var(--gray-100);
    font-weight: bold;
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}

@media (max-width:1750px) {
    .orderTable table {
        grid-template-columns: 1.2fr 0.8fr 1.4fr 0.3fr 0.7fr 1fr 0.5fr; 
        border-collapse: collapse;
        overflow-x: scroll;
    }

    .date {
        flex-direction: column;
    }
}

@media (max-width: 1050px) {
    .mobileValue {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    .seeOrder {
        font-size: clamp(2rem, 2.5vw, 5rem);
    }
}

@media (max-width: 550px) {
    .mobileBoxHeader h3{
        font-size: clamp(2.5rem, 4.5vw, 5rem);
    }
    .infoFooter {
        flex-direction: column;
        align-items: start;
    }
    .mobileBoxInfo{
        align-items: end;
    }
    .mobilePrice{
        justify-content: flex-end;
    }

    .mobileValue {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 1rem;
    }

    .seeOrder {
        font-size: clamp(1.5rem, 4.5vw, 5rem);
    }

    
}