/* Buscar Pedidos */
.searchOrder {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.searchOrder input {
    width: 100%;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 2rem;
    border-radius: 1rem;
    min-height: 5rem;
    font-size: 1.8rem;
    color: inherit;
    padding-left: 5rem;
}

.searchOrder .searchIcon{
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

/* Tabela de pedidos */
.orderTable {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--gray-100);
    overflow: visible;
    border-radius: 1rem; 
    border: none;
    background-color: var(--gray-800);
    max-width: 100vw;
    isolation: isolate;
}

.orderTable table {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr; 
    border-collapse: collapse;
}

.orderTable thead, 
.orderTable tbody, 
.orderTable tr {
    display: contents; 
}

.orderTable th {
    padding: 3rem;
    background-color: var(--gray-400);
    font-weight: 400;
    color: var(--second-color);
    border-bottom: 2px solid var(--gray-500);
    text-align: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.orderTable th svg {
    transition: all 0.2s ease-in-out;
}

.orderTable th svg.isUp {
    transform: rotate(180deg);
}

.orderTable th svg:hover {
    cursor: pointer;
}

/* Cantos arredondados no header */
.orderTable th:first-child {
    border-top-left-radius: 1rem;
}

.orderTable th:last-child {
    border-top-right-radius: 1rem;
}

/* Cantos arredondados na última linha */
.orderTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

.orderTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

.orderTable td {
    padding: 3rem;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}

/* Zebrado na tabela */
.orderTable tr:nth-child(even) td {
    background-color: var(--gray-700);
}

/* Botão Adicionar  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    padding: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    border-radius: 0.7rem;
    border: none;
    
    background-color: var(--gray-200);
    transition: all 0.2s ease;
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

.header button:hover {
    transform: scale(1.08);
    color: inherit;
    background-color: var(--gray-800);
    cursor: pointer;
}


/* Ver o status detalhado do pedido */
.statusOptions {
    opacity: 0;
}

.statusOptions.isOpen{
    opacity: 1;
}

.status button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: inherit;
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


tr:hover .status button {
    background-color: var(--primary-light);
    color: var(--gray-700);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

tr:hover .status button:hover{
    color: white;
    background-color: var(--primary-dark);
}

.status.pending svg{
    color: var(--warning);
}

.status.completed svg{
    color: var(--primary);
}

.status.canceled svg{
    color: var(--error);
}


/* Destaque para linha selecionada */
.orderTable tbody tr:hover td{
    background-color: var(--gray-500);
    color: var(--gray-100);
}

/* Botao Ver mais ... */
.seeMore{
    margin-top: 0.5rem;
    list-style: none;
    cursor: pointer;
    display: inline-block;
}

.seeMore button{ 
    background-color: inherit; 
    color: var(--primary);
    border: none;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s ease-in-out;
}

.seeMore button:hover, 
.pending svg:hover, 
.completed svg:hover{
    color: var(--text-disabled); 
    transform: scale(1.1);
    cursor: pointer;
}

.liList {
    margin-left: 2rem;
}

/* Actions */
.actions{
    display: flex;
    gap: 2rem;
}

.actions button{
    background-color: inherit;
    border: none;
    color: inherit;
}

.actions button svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;
}

.editIcon:hover svg{
    color: var(--primary);
    font-weight: bold;
    transform: scale(1.2);
}

.deleteIcon:hover svg {
    color: var(--error);
    font-weight: bold;
    transform: scale(1.2);
}

/* No Orders */
.noOrders {
    grid-column: 1 / -1;
    margin: auto;
}