/* Tabela de produtos */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    backdrop-filter: blur(3px);     
    z-index: 9998; /* Deve ficar atrás do .product */
}

.productTable {
    position: fixed; /* Mude para fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza */
    width: 70%;
    overflow-y: auto;
    max-height: 90vh;
    z-index: 9999;
    border-radius: 2rem;
    padding: 5rem;
    background-color: var(--gray-900);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.productTable::-webkit-scrollbar {
    width: 1.2rem;
}

.productTable::-webkit-scrollbar-track {
    background: var(--gray-800);
    border-radius: 1rem;
}

.productTable::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 1rem;
}

.productTable table{
    width: 100%;
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr 1fr; 
    border-collapse: collapse;
    font-size: 2.5rem;
    background-color: var(--gray-800); 
    border-radius: 1rem;
    border: 0.2rem solid var(--gray-400);
}

.productTable table th{
    background-color: var(--gray-700);
    padding: 2rem;
    text-align: start;
    color: var(--primary);
    font-weight: 600;
    font-size: 2.5rem;
    border-bottom: 0.1rem var(--gray-400) solid;
}

.productTable table td {
    border-bottom: 0.1rem var(--gray-400) solid;
    padding: 3rem 2rem;
    font-weight: 300;
    font-size: 2rem;
}

.productTable table thead th:first-child {
    border-top-left-radius: 1rem;
}

.productTable table thead th:last-child {
    border-top-right-radius: 1rem;
}

.productTable thead, 
.productTable tbody, 
.productTable tr {
    display: contents; 
}

h3.seeMore{
    display: block;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}

h3.seeMore:hover{
    color: var(--secondary-text);
    cursor: pointer;
}

.buttonbox {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
}

.title label{
    color: var(--gray-300);
    font-size: 2rem;
}

/* Barra de pesquisa de produto */
.searchProduct {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.searchProduct input {
    width: 100%;
    background-color: var(--gray-600);
    border: 2px solid transparent; 
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 5rem;
    font-size: 1.8rem;
    color: inherit;
    padding-left: 5rem;
    outline: none
}

.searchProduct input::placeholder {
    color: var(--gray-300); 
}

.searchProduct input:focus {
    border-color: var(--primary);
    outline: none;
}

.searchProduct .searchIcon{
    position: absolute;
    left: 2rem;
    color: var(--gray-300);
    width: 2rem;
    height: 2rem;
    top: 32%;
}

.noProducts{
    grid-column: 1 / -1;
    margin: auto;
    color: var(--gray-300);
    font-style: italic;
}

/* Botão de voltar */
.backButton{
    padding: 1rem 2rem;
    border: none;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border-radius: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.backButton:hover {
    background-color: var(--gray-100);
    color: var(--gray-700);
    transform: scale(0.95);
}

@media(max-width: 1050px) {
    .buttonbox {
        flex-direction: column;
        gap: 2rem;
    }

    /* Product Table */
        .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .productInfo h3{
        margin-bottom: 1rem;
    }

    .productInfo h3 label {
        color: var(--primary);
    }

    .productInfo hr {
        margin: 3rem 0;
        border: 0.1rem solid var(--gray-400);
    }

    .productTitle {
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }

    .quantityAndValue {
        display: flex;
        justify-content: space-between;
    }

    .quantityAndValueBox {
        display: flex;
        flex-direction: column;
    }

    .quantityAndValueBox label {
        color: var(--gray-300);
        font-size: clamp(1.5rem, 2vw, 2.1rem);
    }

    .quantityAndValueBox p {
        font-size: clamp(1.9rem, 2.2vw, 2.6rem);
    }

    h3.seeMore {
        cursor: pointer;
        width: fit-content;
        margin: auto;     
        margin-top: 3rem;
    }

    /* Em breve */
    .centerBox {
        margin-top: 2rem;
    }

}