
.titles h1{
    font-size: 4.5rem;
}

.titles h2{
    font-size: 2rem;
    color: var(--secondary-text);
}

.date{
    margin-top: 6rem;
    font-size: 2.5rem;
}

.summary{
    margin-top: 3rem;
    background-color: var(--gray-200);
    color: var(--gray-800);
    padding: 2rem;
    border-radius: 1rem;
    font-family: var(--main-font);
}

.summary hr {
    height: 0.4rem;
    margin: 2rem 0;
    background-color: var(--secondary-text);
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.quantity{
    font-size: 3rem;
}

.quickStatsTitle{
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.quickStats{
    font-size: 1.8rem;
    display: grid;
    color: var(--gray-800);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.quickStatsBox{
    background-color: var(--gray-200);
    padding: 2rem;
    border-radius: 1rem;
}

.quickStatsBox h3{
    color: var(--gray-400);
    font-size: 2rem;
}

.quickStatsBox p {
    font-size: 3rem;
}

.dateFormDeactivated{
    display: none;
}

.dateForm {
    display: block;
}