.customer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--gray-100);
    z-index: 9999;
    border-radius: 1rem;
    padding: 5rem;
    background-color: var(--gray-700);
    overflow-y: scroll;
}

.customer h3{
    font-size: 2.3rem;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.backButtonBox{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button{
    padding: 1rem 2rem;
    border: none;
    background-color: var(--gray-500);
    color: var(--gray-100);
    border-radius: 1rem;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    gap: 1rem;
}

.deleteButton {
    background-color: var(--error);
}

.deleteButton:hover{
    color: var(--gray-100);
    background-color: var(--gray-700);
    transform: scale(1.05);
}

.editButton{
    background-color: var(--primary-dark);
    transition: all 0.2 ease-in-out;
}

.editButton:hover{
    color: var(--gray-100);
    background-color: var(--gray-500);
    transform: scale(1.05);
}

.backButton:hover {
    background-color: var(--gray-100);
    color: var(--gray-700);
    transform: scale(0.95);
}


/* informações do Cliente */

.titleAndValue{
    color: var(--gray-300);
    font-size: 1.8rem;
    
}

.sectionTitleValue {
    margin-top: 0.5rem;
    font-size: 2.2rem;
}

/* Detalhes e cliente */
.details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.customerInfo{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 1.5rem;
}

.infoBox{
    border: 3px solid var(--gray-400);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--gray-500);
    padding: 3rem;
}

.infoBox hr{
    border: 1px solid var(--gray-300);
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.infoLine{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Pending Orders */
.havePendingOrders{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.pendingOrders {
    background-color: var(--error);
    color: var(--gray-200);
}

.noPendingOrders{
    background-color: var(--primary);
    color: var(--gray-100);
}

/* Obs && Delivery */
.obsBox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.obs p{
    margin-top: 2rem;
    color: var(--gray-200);
    font-size: 1.8rem;
}

@media(max-width: 1050px){
    /* Mobile Header */


    .header {
        flex-direction: column;
    }

    .header h2 {
        font-size: 3.5rem;
    }

    .header h3 {
        font-size: 1.5rem;
        color: var(--gray-300);
        font-style: italic;
        margin-bottom: 2rem;
    }

    .backButtonBox {
        flex-direction: column;
    }

    .mobileHeaderButtons {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .customerInfo{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .customer {
        padding: 3rem 2rem;
    }

    /* Mobile info */
    .infoLine{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .titleAndValue{
        font-size: clamp(1.7rem, 2vw, 2.5rem);
    }

    .sectionTitleValue {
        font-size: clamp(2rem, 2.2vw, 2.5rem);
    }

    .mobileDelete {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}