.analysisDate {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.analysisDate h2{
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.period{
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
}

.midText{
    display: flex;
    align-items: center;
    color: var(--secondary-text);
    font-size: 2rem;
}

/* Featured Product Stats */
.featuredProductStats{
    margin-top: 2.5rem;
}

.featuredProductStats h2 {
    font-size: 3rem;
}

.featuredProductStats h3 {
    display: flex;
}

/* Container Botão Dropdown */
.productChoice{
    display: flex;
    justify-content: space-between;
}

.dropdown{
    position: relative;
}

.dropbtn{
    display: flex;
    align-items: center;
    background-color: var(--gray-600);
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}


.dropbtn svg {
    transition: transform 0.3s ease;
    margin-left: 8px;
}

.dropbtn.open svg {
    transform: rotate(180deg);
}

/* Opcoes do Dropdown */
.dropdownContent {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    position: absolute;
}

.dropdownContent.open {
    max-height: 30rem;
    opacity: 1;
    transform: translateY(0);
}

.dropdownContent a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--gray-800);
    transition: all 0.3s ease;
}

.dropdownContent a:hover {
  background-color: var(--gray-600);
  border-radius: 1rem;
}

/* Resumo do período */
.periodResume{
    background-color: var(--gray-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.resumeTitle h3{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 1.6rem;
}

.resumeContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.resumeItem h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.resumeItem h4{
    margin-top: 0.5rem;
    font-size: 2.5rem;
}

/* Produto em destaque */
.containersGroup{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.5rem;
    gap: 5rem;
}

.featuredProduct{
    background-color: var(--gray-800);
    padding: 3rem;
    border-radius: 1rem;
}

.featuredProduct h2{
    display: flex;
    color: var(--gray-200);
    font-size: 1.8rem;
    font-weight: 400;
}

.featuredProduct h2 svg{
    margin-right: 1rem;
    color: var(--primary);
}

.productName{
    margin-top: 1rem;
    font-size: 3rem;
}

.productSubtitle{
    color: var(--text-disabled);
    font-weight: 400;
    margin-top: 0.5rem;
}

.bestSellersContainer, .orderChart{
    background-color: var(--gray-800);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tabela produtos mais vendidos */
.bestSellersContainer h2 {
    display: flex;
    font-size: 2.2rem;
    color: var(--gray-200);
    margin-bottom: 2rem;
}

.bestSellersContainer h2 svg{
    margin-right: 1rem;
    color: var(--primary);
}

.bestSellersContainer table{
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 1fr 1fr; 
    border-collapse: collapse;
    font-size: 2rem;
}

.bestSellersContainer table th, td{
    padding: 1rem;
    text-align: start;
}

.bestSellersContainer table th {
    border-bottom: 0.2rem var(--disabled) solid;
    margin-bottom: 1.5rem;
}

.bestSellersContainer thead, 
.bestSellersContainer tbody, 
.bestSellersContainer tr {
    display: contents; 
}

h3.seeMore{
    display: block;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}

h3.seeMore:hover{
    color: var(--secondary-text);
    cursor: pointer;
}

/* Geral de pedidos */
.orderChart h2 {
    display: flex;
    font-size: 2.2rem;
    color: var(--gray-200);
    margin-bottom: 2rem;
}

.orderChart h2 svg{
    margin-right: 1rem;
    color: var(--primary);
}

/* Divisao das divs */
.gridOfTwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
}
